@charset "UTF-8";

body {
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial; 
}

a {
  text-decoration: none;
  color: black;
}

.home_recipes img {
  height: 200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.recipe_container {
  width: 50%;
  margin: 0 auto;
}

.recipe_container img {
  width: 100%;
}

.recipe_ingredients{
  width: 50%;
  display: block;
  float: left;
}

.recipe_description .recipe_source {
  padding-top: 20px;
}

.recipe_source {
  border-top: 1px black solid;
}

.recipe_description li {
  padding-bottom: 20px;
  list-style-type: none;
}

.recipe_description ul {
  padding-left: 0px;
}

.recipe_image, .recipe_title {

}

#myBtnContainer {
  padding-left: 40px;
}

.home_recipes li {
  float: left;
  padding-right: 5px;
  color: #ffffff;
  text-align: center;
  margin: 2px;
}

.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

@media (max-width: 500px) {
.btn {
  margin-bottom: 10px; 
}

#myBtnContainer, .home_recipes {
  padding-left: 0;
}

.home_recipes img {
  width: 100%;
  height: auto;
}

.recipe_container {
  width: 100%
}

.recipe_title, .recipe_description, .recipe_source {
  padding-left: 20px;

}
