<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div id=myBtnContainer><!-- 
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('Favorite')"> Favorite</button> 
    <button class="btn" onclick="filterSelection('Easy')"> Easy</button> 
    <button class="btn" onclick="filterSelection('Bon Appetit')"> Bon Appetit</button> 
    <button class="btn" onclick="filterSelection('Purple Carrot')">Purple Carrot</button> 
    <button class="btn" onclick="filterSelection('Vegetarian')">Vegetarian</button>
    <button class="btn" onclick="filterSelection('Entree')">Entrees</button> 
    <button class="btn" onclick="filterSelection('Soup')">Soups</button>
    <button class="btn" onclick="filterSelection('Salad')">Salads</button>
    <button class="btn" onclick="filterSelection('Mexican')">Mexican</button>
    <button class="btn" onclick="filterSelection('Asian')">Asian</button>
    <button class="btn" onclick="filterSelection('Armenian')">Armenian</button>
    <button class="btn" onclick="filterSelection('Drink')">Drinks</button>
    <button class="btn" onclick="filterSelection('NOT DONE')">NOT DONE</button>
  </div> -->

  <div id="home_recipes_container">
    <ul class="home_recipes">
        {% for recipe in recipes %}
        <!-- <li class="filterDiv {{recipe['formatted_tags']}}"> <a href="/{{recipe['name']}}"><img src="{{ recipe['photo'] }}"> <br /> {{ recipe['name'] }} </a></li> -->
        <li class="filterDiv"> <a href="/{{recipe['name']}}"><img src="{{ recipe['photo'] }}"> <br /> {{ recipe['name'] }} </a></li>

        {% endfor %}
    </ul>
  </div>


<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>



